@use '../base/variables' as *;

.navbar {
  display: flex;

  a {
    font-size: 18px;
    color: $white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;

    &:hover, &:active {
      color: $primary-color;
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba($black, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    transition: 0.5s;
    overflow-y: none;

    &.active {
      left: 0;
    }

    a {
      margin: 15px 0;
      font-size: 1.2rem;
      padding: 10px 20px;
    }
  }
}